<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('./partials/head.ejs') %>
        <!-- <title>Detalles del Producto</title> -->
        <link rel="stylesheet" href="css/home.css">
        <link rel="stylesheet" href="/css/productDetailStyles.css">

</head>

<body>

    <header>

        <%- include('./partials/header.ejs') %>

    </header>
    <form action="/products/productCart/<%=data.id%>" method="POST" enctype="multipart/form-data">
        <div class="conteiner-tittle">
            <%=data.name%>
        </div>
        <main>

            <nav id="imgs"><img src="/img/<%=data.image%>" alt="<%=data.name%>"></nav>

            <div class="conteiner-info-product">
                <div class="conteiner-price">
                    <!--<span><%=data.nombre%></span>-->
                    <span>Precio: $<%=data.price%></span>

                    <i class="fa-solid fa-angle-right"></i>
                </div>

                <div class="conteiner-detail-product">
                    <!-- <div class="form-group">
                        <label for="colour"> Seleccione un color</label>
                        <select name="colour" id="colour">
                            <option disabled selected value="">
                                Elegí una opción
                            </option>
                            <option value="rojo"> Rojo </option>
                            <option value="blanco"> Blanco </option>
                            <option value="beige"> Beige </option>
                            <option value="marron">Marrón</option>
                        </select>
                    </div> -->
                    <div class="form-group">
                        <label for="size"> Talles </label>
                        <select name="size" id="size">
                            <option disabled selected value="">
                                Elegí una opción
                            </option>
                            <option value="XS">XS</option>
                            <option value="S">S</option>
                            <option value="M">M</option>
                            <option value="L">L</option>
                            <option value="XL">XL</option>
                            <option value="XXL">XXL</option>
                        </select>
                    </div>
                </div>
                <div class="conteiner-add-cart">
                    <p style="color:aliceblue">Cantidad :</p>
                    <div class="conteiner-quantity">
                        <input type="number" placeholder="1" value="1" min="1" class="input-quatity" />
                    </div>
                    <button class="btn-add-to-card">
                        <i class="fa-solid fa-plus"></i>
                        Añadir al carrito
                    </button>
                </div>
                <button class="btn-add-to-card">
                    <a href="/products/edit/<%=data.id%>">Editar
                </button>
                <form action="/products/delete/:<%=data.id%>?_method=DELETE" method="POST"></form>
                <button class="btn-add-to-card">
                    <a href="/products/delete/<%=data.id%>">Eliminar
                </button>
                <div class="conteiner-description">
                    <div class="tittle-description">
                        <h4>Descripción</h4>
                        <i class="fa-solid fa-chevron-down"></i>
                    </div>
                    <div class="text-description hidden">
                        <p>
                            <%=data.description%>
                        </p>
                    </div>
                </div>
                <div class="conteiner-info-additional">
                    <div class="tittle-info-additional">
                        <h4>Informacion Adicional</h4>
                        <i class="fa-solid fa-chevron-down"></i>
                    </div>
                    <div class="text-additional hidden">
                        <p>--------------</p>
                    </div>
                </div>

                <div class="conteiner-reviews">
                    <div class="tittle-reviews">
                        <h4>Reseñas</h4>
                        <i class="fa-solid fa-chevron-down"></i>
                    </div>
                    <div class="text-reviews hidden">
                        <p>--------------</p>
                    </div>
                </div>

                <div class="conteiner-social">
                    <span>Compartir</span>
                    <div class="conteiner-buttons-social">
                        <a href="a"><i class="fa-solid fa-envelope"></i></a>
                        <a href="a"><i class="fa-brands fa-facebook-f"></i></a>
                        <a href="a"><i class="fa-brands fa-twitter"></i></a>
                        <a href="a"><i class="fa-brands fa-instagram"></i></a>
                        <a href="a"><i class="fa-brands fa-pinterest"></i></a>
                    </div>
                </div>

            </div>
        </main>
        <section class="related-product">
            <h2>Productos relacionados</h2>
            <div class="card-list-products">
                <div class="card">
                    <%products.forEach((prenda)=>{%>
                        <div class="card-img">
                            <img src="/img/<%=prenda.image %>" alt="img/<%=prenda.name %>">
                        </div>
                        <div class="info-card">
                            <div class="text-product">
                                <h3>
                                    <%=prenda.name%>
                                </h3>
                                <P class="category">
                                    <%=prenda.description%>
                                </P>
                            </div>
                        </div>
                        <div class="price">$<%=prenda.price%>
                        </div>
                        <%})%>
                </div>
            </div>
        </section>
        <!-- </form>
                        <div id="envio">
                            <p>
                            <h3>¡PAGA HASTA 3 CUOTAS SIN INTERÉS!</h3>
                            </p>
                            <p>
                            <h3>ENVIO GRATIS APARTIR DE $49.999</h3>
                            </p>
                            <p>
                            <h3>DEVOLUCIÓN GRATIS, ¿NO ES TU TALLE? PODES DEVOLVERLO EN UN PLAZO DE 20 DÍAS</h3>
                            </p>
                        </div>
                </article>
            </section> -->

        <footer>
            <%- include('./partials/footer.ejs') %>

        </footer>

</body>

</html>