<!DOCTYPE html>
<html lang="es">

<head>

    <%- include('./partials/head.ejs') %>
        <link rel="stylesheet" href="/css/registerStyle.css">
        <title>Formulario de Registro</title>

</head>

<body>
    <header>
        <%- include('./partials/header') %>
    </header>


    <main>
        <div class="form-container">
            <h2>Formulario de Registro</h2>
            <form class="form-register" action="/users/register" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="name">Nombre:</label>
                    <input type="text" id="name" name="name" placeholder="Ingrese su nombre completo" value="<%= (locals.old && old.name) ? old.name : '' %>">
                    <div class="div-name"></div>
                    <%if (locals.errors && errors.name){%>
                        <div>
                            <i>
                                <%=errors.name.msg%>
                            </i>
                        </div>
                    <%}%>
                </div>
                <div class="form-group">
                    <label for="lastname">Apellido:</label>
                    <input type="text" id="lastname" name="lastname" placeholder="Ingrese su apellido" value="<%= (locals.old && old.lastname) ? old.lastname : '' %>">
                    <div class="div-lastname"></div>
                    <%if (locals.errors && errors.lastname){%>
                        <div>
                            <i>
                                <%=errors.lastname.msg%>
                            </i>
                        </div>
                    <%}%>
                </div>
                <div class="form-group">
                    <label for="username">Nombre de usuario:</label>
                    <input type="text" id="username" name="username" placeholder="Ingrese un nombre de usuario" value="<%= (locals.old && old.username) ? old.username : '' %>">
                    <div class="div-username"></div>
                    <%if (locals.errors && errors.username){%>
                        <div>
                            <i>
                                <%=errors.username.msg%>
                            </i>
                        </div>
                    <%}%>
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" placeholder="Ingrese su email; Ej: mail@gmail.com" value="<%= (locals.old && old.email) ? old.email : '' %>">
                    <div class="div-email"></div>
                    <%if (locals.errors){%>
                        <div class="div-email">
                            <i>
                                <%=errors.msg%>
                            </i>
                        </div>
                    <%}%>
                    <%if (locals.errors && errors.email){%>
                        <div>
                            <i>
                                <%=errors.email.msg%>
                            </i>
                        </div>
                    <%}%>
                </div>
                <div class="form-group">
                    <label for="password">Contraseña:</label>
                    <input type="password" id="password" name="password" placeholder="Ingrese su contraseña" min="6">
                    <div class="div-password"></div>
                    <%if (locals.errors && errors.password){%>
                        <div>
                            <i>
                                <%=errors.password.msg%>
                            </i>
                        </div>
                    <%}%>
                </div>
                <div class="form-group">
                    <label for="passwordVerify">Contraseña de Verificacion:</label>
                    <input type="password" id="passwordVerify" name="passwordVerify" placeholder="Ingrese su contraseña nuevamente" min="6">
                    <%if (locals.errors && errors.passwordVerify){%>
                        <div>
                            <i>
                                <%=errors.passwordVerify.msg%>
                            </i>
                        </div>
                    <%}%>
                </div>
                <div class="form-group">
                    <label for="gender">Género:</label>
                    <select id="gender" name="gender" value="<%= (locals.old && old.gender) ? old.gender : ''%>">
                        <option value="" disabled selected>Selecciona un género</option>
                        <option value="masculino">Masculino</option>
                        <option value="femenino">Femenino</option>
                        <option value="otro">Otro</option>
                    </select>
                    <%if (locals.errors && errors.gender){%>
                        <div>
                            <i>
                                <%=errors.gender.msg%>
                            </i>
                        </div>
                    <%}%>
                </div>
                <div class="form-group">
                    <label for="image">Foto de perfil:</label>
                    <input type="file" id="image" name="image" accept=".jpg, .png, .jpeg">
                </div>
                <div class="form-group">
                    <label for="age">Edad:</label>
                    <input type="number" id="age" name="age" placeholder="Ingrese su edad" value="<%= (locals.old && old.age) ? old.age : '' %>">
                    <%if (locals.errors && errors.age){%>
                        <div>
                            <i>
                                <%=errors.age.msg%>
                            </i>
                        </div>
                    <%}%>
                </div>
                <div class="form-group">
                    <label for="address">Dirección de domicilio:</label>
                    <input type="text" id="address" name="address" placeholder="Ingrese su domicilio" value="<%= (locals.old && old.address) ? old.address : '' %>">
                        <%if (locals.errors && errors.address){%>
                            <div>
                                <i>
                                    <%=errors.address.msg%>
                                </i>
                            </div>
                        <%}%>
                </div>
                <div class="form-group">
                    <label for="role">Rol:</label>
                    <select id="role" name="role" value="<%= (locals.old && old.role) ? old.role : ''%>">
                        <option value="" disabled selected>Selecciona un rol</option>
                        <option value="user">Usuario</option>
                        <option value="admin">Administrador</option>
                    </select>
                    <%if (locals.errors && errors.role){%>
                        <div>
                            <i>
                                <%=errors.role.msg%>
                            </i>
                        </div>
                    <%}%>
                </div>
                <div class="form-group">
                    <button type="submit" id="button">Registrarse</button>
                </div>
                <div class="form-group">
                    <input type="reset" value="Borrar">
                </div>
            </form>
        </div>
    </main>

    <%- include('./partials/footer') -%>
    <script src="/js/val-register.js" type="text/javascript"></script>
</body>

</html>