<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/home.css"> 
    <title>Busqueda de producto</title>
</head>
<body>
    <header>
        <%- include('./partials/header.ejs') %>
    </header>
    <main>
        <section class="section-articulos-en-exhibicion">
            <div class="div-busqueda">
                <h2 class="resultado-busqueda">Resultados de búsqueda: <%= results.length%></h2>
            </div>
            <div class="contenedor-de-articulos">
                <% if(results.length >0){%>
                    <% results.forEach((prenda) =>{ %>
                    <article>
                        <div class="descripcion">
                            <a href="/products/<%=prenda.id%>">
                                <img src="img/<%=prenda.imagen %>" alt="<%=prenda.nombre%>">
                            </a>
                            <h3 class="desc"> <%=prenda.nombre %></h3>
                            <p class="precio">$<%=prenda.precio %></p>
                            <form action="/products/productCart" method="GET">
                                 <button class="carrito"><i class="fa-solid fa-cart-plus"></i></button>
                            </form>
                            <a class="mas-informacion" href="/products/<%=prenda.id%>">Más información</a>                
                        </div>
                    </article>
                    <%})%>
                <%} else{%>
                    <div class="div-busqueda">
                        <h2 class="resultado-busqueda-nula">No se ha encontrado ningún producto con ese nombre</h2>
                    </div>
                <%}%>
            </div>
        </section>
        <!--<section class="section-opcion-prendas">
            <div class="conteiner">
                <div class="div-opcion-prendas">
                    <img src="img/remeraswebp.webp" alt="remeras">
                    <div class="div-remeras">
                        <a href="/productDetail">REMERAS</a>
                    </div>
                </div>
                <div class="div-opcion-prendas">
                    <img src="img/camperas.webp" alt="camperas">
                    <div class="div-camperas">
                        <a href="/productDetail">CAMPERAS</a>
                    </div>
                </div>
                <div class="div-opcion-prendas">
                    <img src="img/pantalon.webp" alt="jeans">
                    <div class="div-jeans">
                        <a href="/productDetail">PANTALONES</a>
                    </div>
                </div>
                <div class="div-opcion-prendas">
                    <img src="img/accesorios.jpeg" alt="accesorios">
                    <div class="div-accesorios">
                        <a href="/productDetail">ACCESORIOS</a>
                    </div>
                </div>
            </div>
        </section>
    -->
    </main>
    <footer>
        <%- include('./partials/footer.ejs') %>
    </footer>
</body>
</html>